In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('/content/Encoding Data.csv')

In [9]:
df.head(10)

   id bin_1 bin_2  nom_0 ord_2
0   0     F     N    Red   Hot
1   1     F     Y   Blue  Warm
2   2     F     N   Blue  Cold
3   3     F     N  Green  Warm
4   4     T     N    Red  Cold
5   5     T     N  Green   Hot
6   6     F     N    Red  Cold
7   7     T     N    Red  Cold
8   8     F     N   Blue  Warm
9   9     F     Y    Red   Hot

#Label Encoding

In [10]:
#Applying label encoding in ord_2 column(labe)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['ord_2'] = le.fit_transform(df['ord_2'])

In [11]:
df

   id bin_1 bin_2  nom_0  ord_2
0   0     F     N    Red      1
1   1     F     Y   Blue      2
2   2     F     N   Blue      0
3   3     F     N  Green      2
4   4     T     N    Red      0
5   5     T     N  Green      1
6   6     F     N    Red      0
7   7     T     N    Red      0
8   8     F     N   Blue      2
9   9     F     Y    Red      1

#One hot encoding

In [6]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
# transforming the column after fitting
enc = enc.fit_transform(df[['nom_0']]).toarray()
# converting arrays to a dataframe
encoded_colm = pd.DataFrame(enc)
# concating dataframes
df = pd.concat([df, encoded_colm], axis = 1)
# removing the encoded column.
df = df.drop(['nom_0'], axis = 1)
df.head(10)

   id bin_1 bin_2  ord_2    0    1    2
0   0     F     N      1  0.0  0.0  1.0
1   1     F     Y      2  1.0  0.0  0.0
2   2     F     N      0  1.0  0.0  0.0
3   3     F     N      2  0.0  1.0  0.0
4   4     T     N      0  0.0  0.0  1.0
5   5     T     N      1  0.0  1.0  0.0
6   6     F     N      0  0.0  0.0  1.0
7   7     T     N      0  0.0  0.0  1.0
8   8     F     N      2  1.0  0.0  0.0
9   9     F     Y      1  0.0  0.0  1.0